<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <script src="jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <h1 style="color:white; text-align:center;">Play SignUp Page</h1>
        </div>
    </nav>
</head>
<body>
<form class="form-horizontal" action="routes.">
    <div class="form-group">
        <label class="control-label col-sm-2" for="fName">First Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="fName" placeholder="Enter First Name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="mName">Middle Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="mName" placeholder="Enter Middle Name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="lName">Last Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lName" placeholder="Enter Last Name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="userName">User Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="userName" placeholder="Enter User Name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="pwd" placeholder="Enter Password" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="repwd">Reenter password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="repwd" placeholder="ReEnter Password" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="mbNumber">Mobile Number</label>
        <div class="col-sm-10">
            <input type="text" data-validation="length numeric" maxlength="10" minlength="10" class="form-control" id="mbNumber" placeholder="Enter mobile Number">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" >Gender:</label>

        <label><input type="radio" class="form-control" id="Male"> Male </label>
        <label><input type="radio" class="form-control" id="Female"> Female </label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="age">Age:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="age" placeholder="Enter your age" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="userName">Hobbies:</label>
        <div class="col-sm-10">
            <label class="checkbox-inline"><input type="checkbox" value="">Gaming</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Singing</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Programming</label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" onclick="checkTobeSame(pwd.value, repwd.value)">Sign Up</button>
        </div>
    </div>
</form>
</body>
</html>